[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
Environment=DOTNET_ROOT='/opt/dotnet'
ExecStart=/usr/bin/bash -l -c "/opt/runner-cache/run.sh"
User=runner
WorkingDirectory=/opt/runner-cache
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
